@if o-website-value('footer-template')=='avid_footer2' {
	$-footer-color: o-color('footer-custom') or o-color('footer');

	.o_footer {
		font-size: 0.9rem;
		// General A tag
		a:not(.btn) {
			text-decoration: none;
			@if ($-footer-color and color-contrast($-footer-color) != $color-contrast-light) {
				color: $as-dark;
			}
			@if ($-footer-color and color-contrast($-footer-color) != $color-contrast-dark) {
				color: rgba($as-white, 0.8);
			}
			&:hover {
				@if ($-footer-color and color-contrast($-footer-color) != $color-contrast-light) {
					color: $primary;
				}
				@if ($-footer-color and color-contrast($-footer-color) != $color-contrast-dark) {
					color: $as-white;
				}
			}
		}

		// Heading
		.footer-title {
		    position: relative;
		    margin-bottom: 24px;

		    h5 {
		    	font-weight: 500;
			    font-size: 18px;
			    margin: 0;
			    text-transform: uppercase;
		    }
		}

		// Footer Link Style
		.footer-link {
			li {
				padding-left: 16px;
				+ li {
					padding-top: 10px;
				}
				a {
					position: relative;
					text-decoration: none;
					@if ($-footer-color and color-contrast($-footer-color) != $color-contrast-light) {
						color: $as-dark;
					}
					@if ($-footer-color and color-contrast($-footer-color) != $color-contrast-dark) {
						color: rgba($as-white, 0.8);
					}
					&:after {
					    content: "\f101";
					    font-family: "FontAwesome" !important;
					    position: absolute;
					    bottom: 0;
					    top: 0;
					    left: -16px;
					    transition: ease-in-out all 0.35s;
					}
					&:hover {
						@if ($-footer-color and color-contrast($-footer-color) != $color-contrast-light) {
							color: $primary;
						}
						@if ($-footer-color and color-contrast($-footer-color) != $color-contrast-dark) {
							color: $as-white;
						}
						&:after {
							left: -10px;
						    right: auto;
						    width: 100%;
						}
					}
				}
			}
		}

		.light-border {
			border-color: #f6f7f938!important;
		}


		.footer-social {
			.fa-0px {
				width: 30px!important;
				height: 30px!important;
			}
		}

		.address-block {
			.fa-0px {
				line-height: 35px!important;
				width: 35px!important;
				height: 35px!important;
			}
		}

		.subscribe-box {
			.s_newsletter_subscribe_form {
				.form-control {
					border-radius: 0;
					height: calc(1.5em + 0.75rem + 22px);
				}

				.input-group-append {
					.btn {
						display: flex;
						align-items: center;
						border-radius: 0;
					}
				}
			}
		}
	}
}